<!-- ko with:todo -->

@if (User.Identity.IsAuthenticated)
{
    <h3>TODO Lists</h3>

    @Html.Hidden("userId", User.Identity.Name)

    <div class="row" style="display:none;" data-bind="foreach: toDoLists, fadeVisible: toDoLists().length > 0">
        <div class="col-md-4">
            <label class="control-label">List:</label>
            <input class="form-control" data-bind="value: title"/>
            <hr/>
            <ul class="list-unstyled" data-bind="foreach: toDoItems">
                <li>
                    <div class="form-group form-inline">
                        <input type="checkbox" class="checkbox" data-bind="checked: isComplete" />
                        <input class="form-control" data-bind="value: title, disable: isComplete" />
                        <button class="btn btn-danger btn-sm" data-bind="click: $parent.removeItem">Delete</button>
                    </div>
                </li>
            </ul>
            <button class="btn btn-info btn-sm" data-bind="click: addItem">New Item</button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-info btn-sm" data-bind="click: addList">New List</button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-success btn-sm" data-bind="click: save">Save</button>
        </div>
    </div>
}

<!-- /ko -->